@import "tailwindcss";

:root {
  --font-inter: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}
